body {
    font-family: Arial, sans-serif;
    background-color: rgb(219, 180, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.quiz-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
    margin: 0;
}

.question-container {
    margin-bottom: 20px;
}

#question {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#options {
    list-style: none;
    padding: 0;
    margin: 0;
}

#options li {
    margin-bottom: 10px;
}

#options input[type="radio"] {
    margin-right: 10px;
}

#submit {
    background-color: rgb(76, 175, 80);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: rgb(62, 142, 65);
}

.result-container {
    margin-top: 20px;
}

#result {
    font-size: 24px;
    font-weight: bold;
    color: rgb(102, 102, 102);
}